#mainmenu {
    background-color: #E6E6FA;
}

#mainmenu .navbar {
    margin-bottom: 0px;
    padding-top: 0px;
}

/*----------SPINNER-----------*/

.spinner {
    margin: 10px auto;
    width: 50px;
    height: 30px;
    text-align: center;
    font-size: 10px;
}

.spinner > div {
    background-color: #C3D9FF;
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4)
    }
    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}

/*----------SPINNER  END-----------*/

#grafico_peso, #grafico_massa {
    /*margin: 0 auto;*/
    margin-top: 30px;
    /*margin-right: 10px;*/
    /*width:88%;*/

}

#cabecalhoNotificacao {
    border-bottom: 1px solid #C3D9FF;
    margin-bottom: 10px;
}

#cabecalhoUtente, #cabecalhoData {
    margin-left: 10px;
    font-size: 10pt;
    display: inline-block;
}

#cabecalhoAssunto {
    font-size: 12pt;
    margin-left: 10px;
}



#cabecalhoData {
    float: right;
    margin-right: 10px;

}

#descricaoNotificacao {
    margin-top: 30px;
}

#descNotificacao {
    margin: 10px;
    margin-bottom: 0px;
}

.tabelaInput .controls-row {
    margin-left: 20px !important;
}

.calculoDoses .controls-row {
    margin-left: 0px !important;
    padding-left: 2px !important;
    padding-right: 2px !important;

}

.tabelaInput * span, .tabelaInput * input {
    margin-left: 1px !important;
    max-width: 130px !important;
}

.calculoDoses .controls-row [class*="span"] + [class*="span"] {
    margin-left: 1px !important;
}

div#formPlanoStep1DadosAtuais, #formPlanoStep1DadosTerapeuticas{
    float:left;
}

div#formPlanoStep1DadosAtuaisCalc, #formPlanoStep1DadosTerapeuticasCalc{
    float:right;
}
.tipoRefeicao, .horaRefeicao {
    margin-left: 10px;
    font-size: 10pt;
    display: inline-block;
}

div #form fieldset {
    width: 1120px;
    display: inline-block;
    float: left;
    margin: 15px 0 0 0;
    padding: 10px;
}

div #formUtentes label {
    font-weight: bold;
    font-size: 0.9em;
    display: block;
}

div #formUtentes .row {
    float: left;
    width: 400px;
    margin: 0px;
    display: inline-block;
    margin-left: 30px;
}

div #formUtentes #textNome{
    width: 640px;
}
div #formUtentes #formNomeUtente{
    width: 900px;
}

#modalPesquisa{
    width: 700px;
}

#btnOpenFormUtentes,#btnOpenFormDadosAntro, #btnOpenFormParamAntro, #btnOpenNovaNotificacao{
    float: right;
    margin-left: 5px;
}

.free-day {
    background: #87CEEB;
}

.free-day a {
    opacity: 0.8;
}

#ultimaLinhaDistNed{
    border: 0px !important;
}

div #formFichaClinica label {
    font-weight: bold;
    font-size: 0.9em;
    display: block;
}

div #formFichaClinica .row {
    float: left;
    width: 400px;
    margin: 0px;
    display: inline-block;
    margin-left: 30px;
}


div #formFichaClinica .dadosFichaClinica{
    float: left;
    width: 400px;
    margin: 0px;
    margin-left: 30px;
    display: block;
}

div #formFichaClinica .dadosFichaClinica .control-label{
    display: block;
    width: 350px;
    text-align: center;
    margin-left: 40px;
}
div #formFichaClinica .dadosFichaClinica .controls{
    margin-left: 0px !important;
}

div #formFichaClinica .dadosFichaClinica textarea{
     margin-left: 40px;
     width: 350px !important;
 }
.btnFormsViewUtentes{
    height: 20px;
}

.btnFormsViewUtentes button{
    float: right;
   margin-bottom: 10px;
}

#btnEnviarNotificacao{
    float: right;
}

div #formDadosAntro label {
    font-weight: bold;
    font-size: 0.9em;
    display: block;
}

div #formDadosAntro .row {
    width: 400px;
    margin: 0px;
    display: inline-block;
    margin-left: 30px;
}

.btnRefresh{
    width: 30px !important;
    height: 30px !important;
    padding: 6px !important;
    float: right;
    text-align: center;
    vertical-align: middle;
    display:inline;
    margin-left: 20px;
    margin-bottom: 20px !important;
}

.icon-refresh{
    font-size: 15px !important;
    vertical-align: middle !important;
    line-height: 18px !important;
    text-align: center !important;
    padding: 0px;
    margin: 1px;
}

#dataPrescricao{
    display: inline;
}

#propriedadesPlanoAlimentar{
    margin-bottom: 20px;
    margin-top: 50px;
}

#propriedadesPlanoAlimentar  #apresentaTabela{
    display: inline;
    float: right;
    margin: 5px;
}

#propriedadesPlanoAlimentar  #apresentaTabela label{
    font-weight: bold;
}

#textPrescDietetica{
    width: auto !important;
    height: auto !important;
    display: inline-block !important;
    color: black !important;
    background-color: #ffffff;
    border: hidden;
}

#labelPrescDietetica{
    font-weight: bold;
}


#prescricaoDietetica{
    margin: 10px;
}

#textPrescData{
    display: inline;
    color: black !important;
    background-color: #ffffff;
    border: hidden;

}

#labelPrescData{
    font-weight: bold;
    display: inline;
}

#nedsPlanoAlimentar{
    display: inline;
   margin-left: 25px;
}

#labelNed{
    font-weight: bold;
    display: inline;

}

#textNed{
    display: inline;
    color: black !important;
    background-color: #ffffff;
    border: hidden;
}

/*.linhaPlano input:not([type="hidden"]):nth-child(3){*/
    /*width: 400px !important;*/
/*}*/


/*PLANO ALIMENTAR*/

div #formFichaClinica .form-actions{
    clear: both;
}

div .linhaPlanoQuantidade{
    width: 80px !important;
}
div .linhaPlanoUnidade{

}

div .linhaPlanoAlimento{
    width: 450px !important;
}

#PlanoAlimentarForm_prescricao{
    width: 600px !important;

}

/*END PLANO ALIMENTAR*/